<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vista de Usuario</title>
</head>
<body>
    <h1>Información del usuario</h1>
    <p><a th:href="@{/register}">Registrar nuevo usuario</a></p>

    <p><strong>Nombre:</strong> <span th:text="${usuario?.nombre}">Nombre</span></p>
    <p><strong>Apellidos:</strong> <span th:text="${usuario?.Apellidos}">Apellidos</span></p>
    <p><strong>Contraseña:</strong> <span th:text="${usuario?.contrasenya}">Contrasenya</span></p>
    
    <p><strong>Rol:</strong>
        <span th:if="${usuario instanceof T(IS.grupoD.Mi2is.P6.model.Medico)}">Médico</span>
        <span th:if="${usuario instanceof T(IS.grupoD.Mi2is.P6.model.Paciente)}">Paciente</span> 
    </p>

    <div th:if="${usuario instanceof T(IS.grupoD.Mi2is.P6.model.Medico)}"
     th:with="m=${usuario}">
    <h2>Datos del médico</h2>
    <p>Especialidad: <span th:text="${m.especialidad}"></span></p>
    <p>Centro médico: <span th:text="${m.centroMedico}"></span></p>
    </div>

    <div th:if="${usuario instanceof T(IS.grupoD.Mi2is.P6.model.Paciente)}"
     th:with="p=${usuario}">
    <h2>Datos del paciente</h2>
    <p>NSS: <span th:text="${p.nss}"></span></p>
    <p>DNI: <span th:text="${p.dni}"></span></p>
    <p>Email: <span th:text="${p.email}"></span></p>
    <p>Teléfono: <span th:text="${p.telefono}"></span></p>
    <p>Fecha nacimiento: <span th:text="${p.fechaNacimiento}"></span></p>
</div>


</body>
</html>
